/* importing google font and cdns */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* reset default margin padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Shared classes */
.container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

.system-gradient {
    background: linear-gradient(20deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

.gradient-text {
    background: linear-gradient(5deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background: linear-gradient(20deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 12.5px 16px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn2 {
    color: #00FF88;
    background: transparent;
    border: 2px solid #00FF88;

}



/* Individual classes */
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #FFFFFF;
}

header {
    background-color: #1A0B2E;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

header nav .menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo h2 {
    font-size: 3rem;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 120%;
    opacity: 90%;
}

.ham-icon {
    width: 1.5rem;
    text-align: center;
    display: none;
}

.ham-icon img {
    width: 100%;
    vertical-align: middle;
}

#banner {
    background: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

#banner .container {
    padding: 101px 0;
}

.banner-img {
    background: url("../images/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-img img {
    height: 200px;

}

.banner-content {
    padding-top: 40px;
}

.banner-content h1 {
    font-size: 3.75rem;
    font-weight: 800;
    padding-bottom: 8px;

}


.btn-grp {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 24px;

}







/* phone / Small device responsive code */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    .logo h2 {
        font-size: 2rem;
    }

    nav .menu li,
    nav .btn {
        display: none;
    }

    .ham-icon {
        display: block;
    }

    #banner {
        background: url("../images/hero-bg.png"), #1A0B2E;
        background-repeat: no-repeat;
        background-position: center 50px;
        background-size: contain;
    }

    #banner .container {
        padding: 40px 0;
    }

    .banner-img {
        height: 200px;
        background-size: contain;

    }

    .banner-img img {
        height: 80px;

    }

    .banner-content h1 {
        font-size: 2.5rem;
    }
}



/* Tablet / Medium Device responsive code */
@media screen and (min-width:576px) and (max-width: 992px) {
    .container {
        width: 85%;
    }

    .logo h2 {
        font-size: 2.5rem;
    }

    nav .btn {
        display: none;
    }

    #banner {
        background: url("../images/hero-bg.png"), #1A0B2E;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
    }

    #banner .container {
        padding: 70px 0;
    }

    .banner-img {
        height: 250px;
        background-size: contain;

    }

    .banner-img img {
        height: 120px;

    }

    .banner-content h1 {
        font-size: 3rem;
    }
}